body {
  font-family: "Roboto", sans-serif;
}
.hotel-header h1 {
  text-align: left;
  color: rgb(92, 91, 91);
  margin-left: 50px;
  font-weight: lighter;
}

.hotel-main-container {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.hotel-container-1 {
  padding: 16px;
  background-color: #f2f2f2;
  min-height: 200px;
  width: 50%;
  margin-right: 25px;
  margin-left: 50px;
}

.hotel-name {
  display: block;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}

.hotel-location {
  display: block;
  margin-bottom: 25px;
}

.hotel-container-2 {
  padding: 16px;
  background-color: #f2f2f2;
  min-height: 200px;
  width: 50%;
  margin-right: 50px;
  margin-left: 25px;
}

.hotel-img {
  max-width: 400px;
}

.hr1 {
  margin-top: 15px;
}

.stars {
  max-width: 100px;
  display: inline;
}
